body {
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 0.9em;
}

a {
    margin: 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.header-nav {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
    justify-content: flex-end;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    font-size: larger;
}

ul > a, ul > a {
        padding: 0 8px;
}

.header-img {
        padding: 5px;
        height: 23px;
        position: relative;
        bottom: 4px;
}

.header-img:hover {
    box-shadow: 0 0 10px 0 gainsboro;
    border-radius: 20px;
    cursor: pointer;
}

#advancedSearch h2 {
    margin-left: 45px;
    color: rgba(220, 33, 33, 0.862);
    font-weight: normal;
    font-size: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

h1 {
    font-family: Product Sans;
    font-size: 5.5em;
}

.my-input-container {
    width: 584px;
    border: 1px solid #dcdcdc;
    border-radius: 24px;
    height: 17px;
    display: flex;
    align-items: center;
    padding: 13px;
}

.my-input-container:hover {
    box-shadow: 0 0 10px 0 gainsboro;
}

.my-input-container i {
    color: lightgrey;
}

.searchbar {
    border: none;
    width: 100%;
    font-size: 20px;
    outline: none !important;
    margin-left: 7px;
    box-shadow: none !important;
}

.my-button-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.my-button-container input {
    background-color: #F8F9FA;
    border-radius: 5px;
    border: 1px solid #F8F9FA;
    height: 36px;
    padding: 0 20px;
    margin: 0 4px;
}

.my-button-container input:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 gainsboro;
}

footer {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

#footer-left {
    display: flex;
    justify-self: start;
    padding-left: 20px;
    align-items: center;
}

#footer-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}

@media (max-width: 630px) {
    
    #footer-nav {
        flex-direction: column;
    }

    #footer-left {
        justify-content: center;
    }

    #footer-right {
        justify-content: center;
    }

    .my-input-container {
        width: 95vw;
    }
}

@media (max-height: 522px) {
    body {
        overflow-x: hidden;
    }

    section {
        margin-bottom: 20px;
    }

    footer {
        position: relative;
    }
}

@media (max-height: 570px) and (max-width: 630px) {
    
    body {
        overflow-x:hidden;
    }

    section {
        margin-bottom: 13px;
    }

    footer {
        position: relative;
    }

}

.div-container-wrap {
    margin-left: 20px;
}

.div-container {
    display: flex;
}

.div-container div {
    padding: 5px;
}

.heading, .heading-2, .heading-3, .heading-4 {
    flex:1;
}

.input-field, .input-field-2, .input-field-3, .input-field-4 {
    flex: 2;
}

.to-do, .to-do-2, .to-do-3, .to-do-4 {
    flex: 1;
}

.div-container span {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

.div-container .input-field input {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 90%;
}

.div-container .input-field-2 input {

    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}
.div-container .button input {
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    color: white;
    height: 30px;
    min-width: 120px;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
}

.div-container .button {
    width: 50%;
    display: flex;
    justify-content: center;
}